.page {
    background-color: #f4f4f4;
    color: #e3826f;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .tabs {
    display: flex;
    background-color: brown;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0; /* Ensure tabs are aligned to the left */
    z-index: 1000;
  }
  
  .tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #f4f4f4;
    background-color: #3e2d24;
    transition: background-color 0.3s ease;
  }
  
  .tab:hover {
    background-color: #67564c; /* Darker brown on hover */
  }
  
  .content {
    text-align: center;
    padding-top: 70px; /* Ensure content starts below the fixed tabs */
  }

  .picture {
    width: auto;
    height:300px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
    margin: 30px auto 50px auto; 
    aspect-ratio: 1/1;
    border: 8px solid #967f71;
  }