.resume-page {
    display: flex;
    min-height: 100vh;
    background-color: #e3c9ae;
    color: #4c3d20;
    padding: 0;
    box-sizing: border-box;
  }
  
  .sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #909b4b;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 20px;
  }
  
  .sidebar ul li a {
    color: #4c3d20;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar ul li a:hover {
    background-color: #626932; /* Darker brown on hover */
  }
  
  .resume-content {
    margin-left: 220px; /* Adjust based on sidebar width */
    padding: 20px;
    width: calc(100% - 220px); /* Ensure content fits the remaining space */
  }
  
  .resume-section {
    margin-bottom: 40px;
  }
  
  .resume-section h2 {
    border-bottom: 2px solid #e4a9a4;
    padding-bottom: 10px;
  }

  html {
    scroll-behavior: smooth; /* Smooth scrolling behavior */
  }